@font-face {
    font-family: 'karima';
    src: url('../fonts/karima.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: "Lustria", serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main {
    flex: 1; /* Pushes the footer to the bottom */
}

.gif-style {
    width: 500px;
    height: auto;
    margin-bottom: 0rem;
}

header {
    color: white;
    padding: 10px;
}

h1 {
    font-family: 'karima';
    color: black;
    font-size: 6rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h2 {
    font-family: 'karima';
    color: black;
    font-size: 3rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

footer {
    background: #333;
    background-color: white;
}

.intro {
    max-width: 700px;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.1;
    padding: 1rem;
}

footer {
    margin: 2rem;
    padding-bottom: 2rem;
}


@media (max-width: 768px) {
    .gif-style {
        width: 90%;
        height: auto; /* Maintains aspect ratio */
    }

    h1 {
        font-size: 4rem;
    }
}
